html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #111, #1a1a1a);
  color: #f1f1f1;
  font-family: system-ui, sans-serif;
}
